*{
    box-sizing: border-box;
}

body{
    height: 1000px;
}

/* ==================GRID======================= */


.container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

[class*="col-"]{
    float: left;
    min-height: 1px;
}

.col-1{width: 16.666%;}
.col-2{width: 33.333%;}
.col-3{width: 50%;}
.col-6{width: 100%;}

@media (max-width: 1024px){
   
    .col-1{width: 33.333%;}
    .col-2{width: 100%;}
    .col-3{width: 100%;}
    .col-6{width: 100%;}
}

@media (max-width: 768px){
   
    .col-1{width: 50%;}
    .col-2{width: 100%;}
    .col-3{width: 100%;}
    .col-6{width: 100%;}
}


/* ====================NAV========================== */